body{
text-align: center;
background-color: rgb(153, 102, 27);
color:azure;
}
.btn{
    background-color: aliceblue;
    color:darkgreen;
    border-radius: 20px;
}
.btn:hover{
    background-color: bisque;
    color:black;
    transition:2s;
}